h1 {
  justify-self: center;
  font-size: 36px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 139, 0.572);
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 45vw;
  margin: 0;
  padding: 0;
  border: 0;
  justify-self: center;

  background-color: rgba(0, 0, 255, 0.353);
  gap: 7px;
  box-shadow: 0 0 10px 5px rgb(222, 109, 10);
}

.slot {
  display: flex;
  flex: 1;
  border-radius: 50%;

  justify-content: center;
  justify-self: center;
  align-items: center;
  aspect-ratio: 1/1;
  background-color: whitesmoke;
  border: 2px solid red;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column:hover {
  background-color: blueviolet;
}
